%div(class="flowplayer is-splash color-light no-background aside-time feed_video_holder")
	%video
		%source(type="video/mp4"){src: FeedVideo.url_for( @feed, "mp4" )}
		%source(type="video/webm"){src: FeedVideo.url_for( @feed, "webm" )}
		%source(type="video/ogg"){src: FeedVideo.url_for( @feed, "ogv")}
