<script type="text/html" id="postTemplate">
    <div>
        <p data-bind="text: content"></p>
    </div>
</script>
 
<script type="text/html" id="monthTemplate">
    <li>
        <span data-bind="text: month"></span>
        is in
        <span data-bind="text: season.name"></span>
    </li>
</script>
