@font-face {
  font-family: 'Bullpen';
  // src:url('/assets/Bullpen.eot');
  // src:url('icomoon.eot?#iefix') format('embedded-opentype'),
  //   url('icomoon.svg#icomoon') format('svg'),
  //   url('icomoon.woff') format('woff'),
  src: url('/assets/Bullpen3D.ttf') format('truetype');
}

@font-face {
  font-family: 'abeatbyKai';
  // src:url('/assets/Bullpen.eot');
  // src:url('icomoon.eot?#iefix') format('embedded-opentype'),
  //   url('icomoon.svg#icomoon') format('svg'),
  //   url('icomoon.woff') format('woff'),
  src: url('/assets/abeatbyKai.ttf') format('truetype');
}
