$light_blue: #384768;
$dark_blue: #030514;

$alt_light_blue: #5a9eff;
$alt_dark_blue: #352bfe;

$dark_grey: #1E1E1E;
$mid_grey: #282725;
$light_grey: #7A7A7A;

$light_green: #c2e25b;
$dark_green: #97ba2a;

$light_orange: #fdea8b;
$dark_orange: #f3a038;
