/* SAMPLE CSS STYLES FOR JQUERY CLOCK PLUGIN */
  /* .jqclock { float:left; text-align:center; border: 1px Black solid; background: LightYellow; padding: 10px; margin:20px; } */
  .clocktime { padding: 5px; font-size: 14px; font-family: "Courier"; margin: 2px; display: block; }
