@import "blue_print_import";
@import "partials/variables";
@import "partials/fonts";
@import "partials/main_header";

body {
	background-color: white;
	font-family: 'abeatbyKai'
}

.container {
	@include container;
	margin-top: 100px;
}


.full_width_container {
	width: 100%;
	position: absolute;
	top: 100px;
	left: 0px;
	z-index: -1;
	&#feeds_index {
		#map {
			height: 550px;
		}
		#feed_search {
			background-image: url('/assets/feed_search.png');
			position: absolute;
			top: 10px;
			right: 27px;
			height: 95px;
			width: 356px;
			#feed_name {
				position: absolute;
				top: 22px;
				left: 21px;
				height: 31px;
				width: 239px;
			}
			.invisible-plane {
				position: absolute;
				top: 15px;
				left: 270px;
				width: 86px;
				height: 68px;
				background: transparent;
				border: none;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
		}
	}
}

.leaflet-control-attribution.leaflet-control {
	display: none;
}

#feeds_show {
	.banner {
		position:relative;
		.feed_banner {
			width: 634px;
			height: 300px;
			float: left;
		}
		.name {
			position: absolute;
			top: 7px;
			left: 7px;
			font-family: "Bullpen";
			font-size: 42px;
			color: white;
		}
	}
	.weather_widget {
		width: 316px;
		height: 300px;
		background-color: $dark_grey;
		float: right;
		.left_col {
			width: 170px;
			height: 100%;
			float: left;
			color: white;
			.section {
				border-bottom: 2px solid $mid_grey;
				position: relative;
				&.tall {
					height: 108px;
				}
				&.push_down {
					height: 57px;
					padding-top: 15px;
				}
				.name {
					position: absolute;
					top: 5px;
					left: 7px;
				}
				.icon {
					position: absolute;
					top: 25px;
					left: 7px;
				}
				.high {
					position: absolute;
					top: 0px;
					left: 60px;
					font-size: 52px;
				}
				.low {
					position: absolute;
					top: 50px;
					left: 124px;
					font-size: 19px;
					color: #69889A;
				}
				.time {
					position: absolute;
					top: 82px;
					left: 7px;
				}
				.users {
					padding: 5px;
					font-size: 24px;
				}
				.video {
					float: left;
					img {
						width: 42px;
					}
				}
				.video_button {
					float: left;
					background-color: #0191CF;
					width: 100px;
					@include border-radius(4px, 4px);
					color: white;
					font-size: 12px;
					padding: 3px;	
					font-weight: bold;
					position: relative;
					top: 5px;
					left: 5px;
				}
			}
		}
		.right_col {
			width: 146px;
			height: 100%;
			float: left;
			background-color: $mid_grey;
			height: 252px;
			table {
				tr {
					height: 42px;
					.day_name {
						color: #6D6C6A;
					}
					.high {
						color: white;
					}
					.low {
						color: #69889A;
					}
					.temp {
						font-size: 14px;
						font-weight: bolder;
					}
				}
			}
		}
	}
}
