@import "blue_print_import";
@import "partials/variables";
@import "partials/fonts";
@import "partials/main_header";
@import "tabular_form";

body {
	background-color: white;
	font-family: 'abeatbyKai'
}

.bullpen {
	font-family: "Bullpen";
	color: white;
}

.container {
	@include container;
	margin-top: 100px;
}

.world_background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url('/assets/earth.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.full_width_world_background_container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	.bullpen {
		position: absolute;
		top: 35%;
		left: 3%;
		width: 45%;
		font-size: 70px;
	}
	.logo {
		position: absolute;
		top: 1%;
		left: 37%;
	}
	.facebook {
		width: 280px;
		height: 46px;
		position: absolute;
		top: 42%;
		left: 58%;
		background-image: url('/assets/facebook.png');
		&:hover {
			background-image: url('/assets/facebook-hover.png');
		}
	}
	.sign_up {
		position: absolute;
		top: 27%;
		left: 58%;
		.sign_up_button {
			position: absolute;
			top: 0px;
			left: 0px;
			&:hover {
				cursor: hand;
				cursor: pointer;
			}
		}
		.sign_up_form {
			width: 280px;
			height: 400px;
			background-color: #D7D7D7;
			position: absolute;
			top: 60px;
			display: none;
			td {
				padding: 0px 10px 0px 5px
			}
			input {
				width: 178px;
			}
			input.submit_form {
				margin: auto;
				width: 80%;
			}
			#user_birthday_2i {
				width: 74px;
			}
			.terms {
				width: 90%;
				height: 10px;
				margin: auto;
				#terms {
					width: 20px;
					float: left;
				}
				p {
					float: right;
					margin: 0px;
				}
			}
		}
	}
}

.full_width_container {
	width: 100%;
	position: absolute;
	top: 100px;
	left: 0px;
	z-index: -1;
	&#feeds_index {
		#map {
			height: 550px;
		}
		#feed_search {
			background-image: url('/assets/feed_search.png');
			position: absolute;
			top: 10px;
			right: 27px;
			height: 95px;
			width: 356px;
			#feed_name {
				position: absolute;
				top: 22px;
				left: 21px;
				height: 31px;
				width: 239px;
			}
			.invisible-plane {
				position: absolute;
				top: 15px;
				left: 270px;
				width: 86px;
				height: 68px;
				background: transparent;
				border: none;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
		}
	}
}

.leaflet-control-attribution.leaflet-control {
	display: none;
}

#feeds_show {
	.banner {
		position:relative;
		.feed_banner {
			width: 634px;
			height: 300px;
			float: left;
		}
		.name {
			position: absolute;
			top: 7px;
			left: 7px;
			font-size: 42px;
			color: white;
		}
	}
	.weather_widget {
		width: 316px;
		height: 300px;
		background-color: $dark_grey;
		float: right;
		position: relative;
		.left_col {
			width: 170px;
			height: 100%;
			float: left;
			color: white;
			.section {
				border-bottom: 2px solid $mid_grey;
				position: relative;
				&.tall {
					height: 128px;
				}
				&.push_down {
					height: 57px;
					padding-top: 15px;
				}
				.name {
					position: absolute;
					top: 5px;
					left: 7px;
				}
				.icon {
					position: absolute;
					top: 25px;
					left: 7px;
				}
				.high {
					position: absolute;
					top: 0px;
					left: 60px;
					font-size: 52px;
				}
				.low {
					position: absolute;
					top: 50px;
					left: 124px;
					font-size: 19px;
					color: #69889A;
				}
				.icon {
					img {
						width: 50px;
					}
				}
				.digital_clock {
					position: absolute;
					top: 82px;
					left: 7px;
				}
				.users {
					padding: 5px;
					font-size: 16px;
				}
				.video {
					float: left;
					img {
						width: 42px;
					}
				}
				.video_button {
					float: left;
					background-color: #0191CF;
					width: 100px;
					@include border-radius(4px, 4px);
					color: white;
					font-size: 12px;
					padding: 3px;	
					font-weight: bold;
					position: relative;
					top: -2px;
					left: 5px;
					width: 150px;
					.video_text {
						position: relative;
						top: 9px;
						left: 2px;
						font-size: 13px;
					}
				}
			}
		}
		.right_col {
			width: 146px;
			height: 100%;
			float: left;
			background-color: $mid_grey;
			height: 252px;
			table {
				tr {
					height: 42px;
					.day_name {
						color: #6D6C6A;
					}
					.icon {
						img {
							width: 25px;
						}
					}
					.high {
						color: white;
					}
					.low {
						color: #69889A;
					}
					.temp {
						font-size: 14px;
						font-weight: bolder;
					}
					td {
						padding: 4px;
					}
				}
			}
		}
		.new_post {
			width: 100%;
			position: absolute;
			top: 260px;
			height: 33px;
			width: 133px;
			left: 92px;
			text-align: center;
			padding-top: 0px;
			font-size: 14px;
			color: white;
			background-color: #0191CF;
			@include border-radius(4px, 4px);
			font-weight: bold;
			span {
				position: relative;
				top: 7px;
			}
			a {
				color: white;
				font-size: 14px;
				text-decoration: none;
			}
		}
	}
}
