.post-show.modal {
	width: 950px;
	position: fixed;
	max-height: 350px;
	overflow-y: auto;
	.post-show-container {
		text-align: left;
		position: relative;
		.left {
			width: 25%;
			min-height: 10px;
			float: left;
			.link {
				display: block;
				clear: both;
				.title {
					font-size: 20px;
					float: left;
					width: 100px;
					margin-left: 10px;
					&:hover {
						cursor: hand;
						cursor: pointer;
					}
					&.active {
						border-bottom: 2px solid black;
					}
				}
				.icon {
					float: left;
					min-width: 42px;
				}
			}
		}
		.right {
			width: 75%;
			float: left;
			.media {
				display: none;
				margin-bottom: 15px;
				.image_galery {
					text-align: center;
					.selection {
						width: 100%;
						height: 100px;
						overflow-x: auto;
						overflow-y: hidden;
						white-space: nowrap;
						margin-bottom: 10px;
						img {
							padding: 5px;
							display: inline-block;
							width: 75px;
							&.selected {
								border: 2px solid black;
							}
						}
					}
					img {
						max-width: 700px;
						display: none;
						margin: auto;
						&.active {
							display: block;
						}
					}
					.caption {
						position: relative;
						top: -47px;
						width: 100%;
						height: 37px;
						background-color: rgba(0,0,0,0.7);
						margin: auto;
						color: white;
						font-size: 16px;
						padding-top: 10px;
					}
				}
				&.active {
					display: block;
				}
			}
			.text {
				border: 3px solid $light_grey;
				padding: 3px;
				max-height: 250px;
				overflow-y: auto;
			}
		}
	}
}
.ovsm_feed_engine {
	$container_width: 950px;
	$post_margin: 10px;
	$number_posts_per_row: 4;
	$thumb_hight_width: ($container_width - ($post_margin * ($number_posts_per_row - 1))) / $number_posts_per_row;
	.post_thumb {
		background: white;
		position: relative;
		float: left;
		word-wrap: break-word;
		width: $thumb_hight_width;
		height: 300px;
		margin-right: $post_margin;
		margin-bottom: $post_margin;
		@include box-sizing(border-box);
		border: 1px solid white;
		&.last {
			margin-right: 0px;
		}
		&.video {
			background-color: black;
		}
		&.audio {
			background-color: $light_grey;
			background-image: url('/assets/music_notes.png');
			.controll {
				color: white;
				font-size: 14px;
				position: absolute;
				top: 3px;
				z-index: 99;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
				&.next {
					left: 190px;
				}
				&.prev {
					left: 3px;
				}
			}
			.sm2-360ui {
				position: absolute;
				top: 24px;
				left: 42px;
			}
			.sm2_link {
				position: absolute !important;
				top: 201px !important;
				width: 224px !important;
				left: 2px !important;
				border-top: 2px solid black !important;
				text-align: center;
				background-color: white;
				height: 24px !important;
				color: black !important;
			}
			.jp-gui.jp-interface.thumb {
				bottom: 69px;
			}
		}
		&.photo {
			.photo_album {
				.controll {
					display: none;
					z-index: 99;
					&:hover {
						cursor: hand;
						cursor: pointer;
					}
				}
				.next {
					position: absolute;
					top: 75px;
					left: 200px;
					@include arrow_right( 20px, black );
					display: none;
					.inner {
						position: absolute;
						top: -15px;
						left: -18px;
						@include arrow_right( 15px, white );
					}
				}
				.previous {
					position: absolute;
					top: 75px;
					left: 5px;
					@include arrow_left( 20px, black );
					display: none;
					.inner {
						position: absolute;
						top: -15px;
						left: 3px;
						@include arrow_left( 15px, white );
					}
				}
				&:hover {
					.on.controll {
						display: block;
					}
				}
				.slide {
					display: none;
					&.active {
						display: block;
					}
					img {
						width: 228px;
						height: 228px;
					}
					.caption {
						width: 228px;
						height: 50px;
						background-color: rgba(0,0,0,0.7);
						position: absolute;
						top: 178px;
						text-align: center;
						color: white;
					}
				}
			}
		}
		&.text {
			// @include background-image(linear-gradient(color-stops($dark_orange, $light_orange)));
			@include background-image(linear-gradient(color-stops($light_grey, $dark_grey)));
			font-size: 16px;
			padding: 5px;
			color: white;
		}
		&.links {
			@include background-image(linear-gradient(color-stops($light_grey, $dark_grey)));
			font-size: 16px;
			padding: 5px;
			color: white;
			text-align: center;
			a {
				color: white;
				text-decoration: none;
				h5 {
					color: white;
					font-weight: bold;
					margin: 0px;
				}
				img {
					width: 100px;
					margin: 10px;
				}
				p {
					font-size: 12px;
				}
			}
		}
		.post_thumb_footer {
			position: absolute;
			bottom: 0px;
			height: 70px;
			width: 228px;
			background-color: #A0A0A0;
			left: 0px;
			text-align: left;
			&:hover {
				$expand_post_cursor: '/assets/magnifier.png';
				cursor: url($expand_post_cursor),url($expand_post_cursor),default;
			}
			img.avatar {
				width: 50px;
				position: absolute;
				top: 10px;
				left: 5px;
				border: 1px solid white;
				margin: 0px;
			}
			p.user_name {
				position: absolute;
				top: 19px;
				left: 55px;
				font-weight: bold;
				font-size: 22px;
				text-align: center;
				width: 118px;
				color: white;
			}
		}
		.flowplayer {
			width: 100%;
			height: 77%;
			z-index: 0;
			.fp-prev {
				z-index: 99;
				position: absolute;
				top: 22px;
				left: 5px;
				color: white;
				display: none;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
			.fp-next {
				z-index: 99;
				position: absolute;
				top: 22px;
				right: 5px;
				color: white;
				display: none;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
			&:hover {
				.fp-prev{display: block;}
				.fp-next{display: block;}
			}
		}
	}
}
.modal a.close-modal {
	display: none;
}
