.modal_form {
	max-height: 400px;
	overflow-y: auto;
}
.tabular_form {
	.nav {
		height: 82px;
		padding: 0px 10px;
		@include background-image(linear-gradient(color-stops($light_orange, $dark_orange)));
		margin-bottom: 10px;
		.link {
			&.active {
				background: white;
				$this_radius: 5px;
				@include border-top-left-radius($this_radius);
				@include border-top-right-radius($this_radius);
			}
			&:hover {
				cursor: hand;
				cursor: pointer;
			}
			float: left;
			height: 90%;
			position: relative;
			top: 10%;
			right: -50px;
			width: 70px;
			margin-right: 6px;
			.label {
				position: relative;
				top: 8px;
			}
			.image {
				position: relative;
				top: 8px;
			}
		}
	}
	.tab {
		display: none;
		&.active {
			display: block;
		}
	}
	.submit_post {
		height: 42px;
		padding: 0px 10px;
		background: url('/assets/profiletab-bg.png') repeat-x left top;
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 24px;
		@include border-radius(7px);
		&:hover {
			cursor: hand;
			cursor: pointer;
			color: white;
		}
		&.off {
			color: grey;
			&:hover {
				color: grey;
			}
		}
		.text {
			position: relative;
			top: 3px;
		}
	}
	.processing {
		display: none;
	}
	form {
		text-align: left;
		padding: 20px 0px 20px 0px;
		.input {
			margin-bottom: 10px;
		}
		label {
			margin-right: 12px;
		}
		.init_upload {
			padding: 10px;
			background: url('/assets/profiletab-bg.png') repeat-x left top;
			@include border-radius(5px);
			display: inline;
			font-size: 20px;
			position: relative;
			top: 10px;
			&:hover {
				cursor: hand;
				cursor: pointer;
				color: white;
			}
		}
	}
	.progress_devider {
		display: none;
	}
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	.bar {
		height: 20px;
		background-color: #62c462;
		background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
		background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	}
}
